@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800&display=swap')

* {
	font-family: 'Montserrat';
}

h1 {
	font-size: 36px;
	font-weight: bold;
	font-style: italic;
}

h2 {
	font-size: 20px;
	font-weight: lighter;
	text-align: left;
	color: #282828;
	border-bottom: 1px solid #ebebeb;
	margin-bottom: 16px;
	padding-bottom: 5px;
}

.name-text {
	font-size: 17px;
	color: #7c7c7c;
	font-weight: bold;
}

.mainbox {
	width:  410px;
	padding: 30px;
	margin: 30px;
	margin-left: auto;
	margin-right: auto;
	border: thick double black;
	
	box-shadow: 0 1px 20px 0 rgba(0,0,0,0.1);
}

footer {
	text-align: center;
	background-color:  #1e1e1e;
	color: #919191;
	font-size:  12px;
	padding: 20px;
}

section {
	margin-bottom: 24px;

}

.name-text {
	font-size: 16px;
	font-weight: bold;
	color: #7c7c7c;
}

.about-me-text {
	font-size: 10px;
	line-height: 16px;
	
}

.float-wrap {
	overflow: hidden;
}

.title-text {
	font-size: 11px;
	font-weight: bold;
	color: #282828;
	float: left;

}

.year-text {
	font-size: 11px;
	font-weight: bold;
	color: #282828;
	float: right;
}

.desc-text {
	font-size: 9px;
	
}

.desc-subtext {
	font-size: 9px;
	color: #282828;
	padding-left: 16px;
	
}

.title-box {
	text-align: right;
}

.sns-wrap {
	text-align: right;
}

.sns-img {

	width: 5;
	height: 5;
}
